{% extends 'layout.html' %}
{% block title %}
    LHS 2023 Connections
{% endblock %}
{% block description %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">franca.link</a></li>
            <li class="breadcrumb-item"><a href="/connections">connections</a></li>
            <li class="breadcrumb-item active">about</li>
        </ol>
    </nav>
{% endblock %}
{% block content %}
    <div class='card text_card card-body page_item'>
        <p>Hi! I'm <a href='..'>Franca Ellerman</a>, a rising senior at Lexington High School.</p>
        <p>This app reads the section numbers and courses on uploaded PDF's to create a network of shared section numbers among Class of 2023 students. The school has not guaranteed these sections as final. You can use this on as many devices as you want by just uploading the PDF again.</p>
        <p>This app's name was inspired by "connections" on Daily by Ali Mosallaei.</p>
    </div>
{% endblock %}
